<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>South - Real Estate Agency Template | Listings Details</title>

    <!-- Favicon  -->
    <link rel="icon" href="assets/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/css/star.css">
    <link rel="stylesheet" href="assets/css/jqbar.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="south-load"></div>
    </div>
    
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="southNav">
    
                    <!-- Logo -->
                    <a class="nav-brand" href="/">VACANT ROOM OF CAMEL</a>
    
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
    
                    <!-- Menu -->
                    <div class="classy-menu">
    
                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
    
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">홈</a></li>
                                <li><a href="/about-us">팀-공집합</a></li>
                                <li><a href="/property">부동산</a></li>
                                <li><a href="/theme">테마</a></li>
                                <li><a href="/register">회원가입</a></li>
                                <% if(!check_ses) {%>
                                <li><a href="" style=color:#505050 data-toggle="modal" data-target="#loginModal"
                                        id="login">로그인</a></li>
                                <%} else{ %>
                                <li><a href="api/logout" style="color:#505050">로그아웃</a></li>
                                <%}%>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div>
                </div>
            </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url(assets/img/bg-img/hero1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Property</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Listings Content Area Start ##### -->
    <section class="listings-content-wrapper section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Single Listings Slides -->
                    <div class="single-listings-sliders owl-carousel">
                        <!-- Single Slide -->
                        <%for(var i = 0; i < estate.saveFileName.length; i++){%>
                        <img src="uploads/<%=estate.saveFileName[i]%>" alt="">
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="listings-content">
                        <!-- Price -->
                        <div class="list-price">
                            <p><%=estate.price%> 만원</p>
                        </div>
                        <h5><%=estate.title%></h5>
                        <p class="location"><img src="assets/img/icons/location.png" alt=""><%=estate.roadAddress%></p>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odiomattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu varius ac. Etiam cursus turpis lectus, id iaculis risus tempor id. Phasellus fringilla nisl sed sem scelerisque, eget aliquam magna vehicula.</p>
                        <!-- Meta -->
                        <div class="property-meta-data d-flex align-items-end">
                            <div class="new-tag">
                                <img src="assets/img/icons/new.png" alt="">
                            </div>
                            <div class="bathroom">
                                <img src="assets/img/icons/bathtub.png" alt="">
                                <span><%=estate.toilet%></span>
                            </div>
                            <div class="garage">
                                <img src="assets/img/icons/garage.png" alt="">
                                <span><%=estate.years%></span>
                            </div>
                            <div class="space">
                                <img src="assets/img/icons/space.png" alt="">
                                <span><%=estate.roomSize%></span>
                            </div>
                        </div>
                        <!-- Core Features -->
                        <ul class="listings-core-features d-flex align-items-center">
                            <li><i class="fa fa-check" aria-hidden="true"></i> Gated Community</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Automatic Sprinklers</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Fireplace</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Window Shutters</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Ocean Views</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Heated Floors</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Heated Floors</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Private Patio</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Window Shutters</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Fireplace</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Beach Access</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Rooftop Terrace</li>
                        </ul>
                    </div>
                </div>
                

                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">

                        <!-- Catagories Widget -->
                        <div class="south-catagories-card mb-70">
                            <h5>Information</h5>
                            <ul class="catagories-menu">
                                <li><a>주거 형태 : <%=estate.houseType%></a></li>
                                <li><a>계약 : <%=estate.contractTag%></a></li>
                                <li>
                                    <a><img src="assets/img/icons/space.png" alt=""> : <%=estate.roomSize%></a>
                                </li>
                                <li><a>방수 : <%=estate.rooms%></a></li>
                                <li>
                                    <a>연식 : <%=estate.years%></a>
                                </li>
                                <li>
                                    <a><img src="assets/img/icons/bathtub.png" alt=""> : <%=estate.toilet%></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Listing Maps -->
            <div class="row">
                <div class="col-12">
                    <div class="listings-maps mt-100">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>


    <!--가치지수 출력-->
    <div style="width:50%">
            <canvas id="valuecanvas"></canvas>
    </div>

    <!--평점 출력-->
    <div style="width:40%">
        <canvas id="scorecanvas"></canvas>
</div>



    </section>
    <!-- ##### Listings Content Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0 bg-img gradient-background-overlay" style="background-image: url(assets/img/bg-img/cta.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area mb-100">
                            <!-- Widget Title -->
                            <div class="widget-title">
                                <h6>About Us</h6>
                            </div>
                            <p>공집합 팀의 졸업작품, <br>공민철, 박경민, 박소연 개발작품이다.</p>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area mb-100">
                            <!-- Widget Title -->
                            <div class="widget-title">
                                <h6>Featured Properties</h6>
                            </div>
                            <!-- Featured Properties Slides -->
                            <div class="featured-properties-slides owl-carousel">
                                <!-- Single Slide -->
                                <div class="single-featured-properties-slide">
                                    <a href="#"><img src="assets/img/bg-img/fea-product.jpg" alt=""></a>
                                </div>
                                <!-- Single Slide -->
                                <div class="single-featured-properties-slide">
                                    <a href="#"><img src="assets/img/bg-img/fea-product.jpg" alt=""></a>
                                </div>
                                <!-- Single Slide -->
                                <div class="single-featured-properties-slide">
                                    <a href="#"><img src="assets/img/bg-img/fea-product.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Copywrite Text -->
        <div class="copywrite-text d-flex align-items-center justify-content-center">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">이 매물은 어떠셨나요?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <form id="star-score-form" name="star-score-form" action="/score/<%=estate.estate_id%>" method="POST">
                    <div class="modal-body">
    
                        <span class="star-input">
                            <span class="input">
                                <input type="radio" name="star" id="p1" value="1"><label for="p1">1</label>
                                <input type="radio" name="star" id="p2" value="2"><label for="p2">2</label>
                                <input type="radio" name="star" id="p3" value="3"><label for="p3">3</label>
                                <input type="radio" name="star" id="p4" value="4"><label for="p4">4</label>
                                <input type="radio" name="star" id="p5" value="5"><label for="p5">5</label>
                                <input type="radio" name="star" id="p6" value="6"><label for="p6">6</label>
                                <input type="radio" name="star" id="p7" value="7"><label for="p7">7</label>
                                <input type="radio" name="star" id="p8" value="8"><label for="p8">8</label>
                                <input type="radio" name="star" id="p9" value="9"><label for="p9">9</label>
                                <input type="radio" name="star" id="p10" value="10"><label for="p10">10</label>
                            </span>
                            <output for="star-input"><b>0</b>점</output>
                        </span>
    
                    </div>
                    <!-- Modal footer -->
    
    
                    <div class="modal-footer">
                        <div style="float:left;">
                            <h6>이 의견은 추천정보에 반영됩니다.</h6>
                        </div>
                        <p></p><button id="star-score" type="button" class="btn btn-danger" data-dismiss="modal">제출</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="assets/js/jquery/jquery-2.2.4.min.js"></script>
     <!-- Popper js -->
     <script src="assets/js/popper.min.js"></script>
     <!-- Bootstrap js -->
     <script src="assets/js/bootstrap.min.js"></script>
     <!-- Plugins js -->
     <script src="assets/js/plugins.js"></script>
     <script src="assets/js/classy-nav.min.js"></script>
     <script src="assets/js/jquery-ui.min.js"></script>
     <!-- Active js -->
     <script src="assets/js/active.js"></script>
     <script src="assets/js/modal.js"></script>
     <!-- jbar js -->
     <script src="assets/js/jqbar.js"></script>
     
     <script src="assets/js/star.js" type="text/javascript"></script>
     <!-- 다음 지도 api -->
     <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c749c8a6c8049131a0f238101adf5004&libraries=services&libraries=services"></script>
     <script type="text/javascript">
     $('.starRev span').click(function(){
       $(this).parent().children('span').removeClass('on');
       $(this).addClass('on').prevAll('span').addClass('on');
       return false;
     });
     </script>
     <script>
        setTimeout(function(){ 
            var check_ses = "<%=check_ses%>";
            if(check_ses != 0)
                document.getElementById('star').click();
            
        },3000);
     </script>

    <script src="assets/js/Chartbundle.js"></script>
    <script>
        var config = {
            type: 'radar',
            data: {
                labels: ["치안지수", "인기지수", "교통지수", "교육지수", "건강지수", "편의지수"],
                datasets: [{
                    label: "지수",
                    backgroundColor: "rgba(255,94,0,0.4)",
                    pointBackgroundColor: "rgba(110,200,30,4)",
                    borderWidth: 5,
                    borderCapStyle : 'butt',
                    data: [<%=estate.safe_value%>, <%=estate.popular_value%>, <%=estate.traffic_value%>, <%=estate.education_value%>, <%=estate.healthy_value%>, <%=estate.convenience_value%>]
                }]
            },
            options: {
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: '매물 가치지수'
                },
                scale: {
                    reverse: false,
                    ticks: {
                        beginAtZero: true
                    }
                }
            }
        };

        var barChartData = {
            labels: ["평균 평점", "사용자 예상 평점"],
            datasets: [{
                label: '평점',
                backgroundColor: "rgba(1,0,255,0.5)",
                data: [<%=avgScore%>,<%=expectScore%>,0]
            }]
        };

        window.onload = function() {
            window.myRadar = new Chart(document.getElementById("valuecanvas"), config);
            var ctx = document.getElementById("scorecanvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    // Elements options apply to all of the options unless overridden in a dataset
                    // In this case, we are setting the border of each bar to be 2px wide and green
                    elements: {
                        rectangle: {
                            borderWidth: 1,
                            borderColor: 'rgb(200, 150, 70)',
                            borderSkipped: 'bottom'
                        }
                    },
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                    },
					scales: {
						xAxes: [{
							barPercentage: 0.4,
							barThickness: 1,
							maxBarThickness: 10,
							minBarLength: 1,
							gridLines: {
								offsetGridLines: true
							}
						}]
					}
                }
            });
        };
    </script>
</body>
</html>